._ngcontent-pfm-8 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    min-width: 1056px;
}

.empty-view-section {
    width: 496px;
    margin: 64px auto;
}

.headline {
    font-family: 'Google Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 8px;
    color: #202124
}

.sub-headline {
    font-family: 'Google Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #5f6368;
}

.image._ngcontent-pfm-8 {
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(https://www.gstatic.com/awn/cm_public_static/overview/analytics_neutral_empty_state.svg);
    width: 160px;
    height: 176px;
}

.descripition._ngcontent-pfm-8 {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #5f6368;
    margin-top: 16px;
    text-align: center;
}

._ngcontent-awn-VIDEO-3 {
    display: block;
    flex-direction: column;
    padding-right: 8px;
}

.no-report-placeholder-container._ngcontent-awn-VIDEO-3 {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #3c4043;
    text-align: center;
    letter-spacing: 0.2px;
}

.max-width-container._ngcontent-awn-VIDEO-3 {
    margin: 0 auto 16px;
    display: flex;
    justify-content: center;
}

.no-report-placeholder-container._ngcontent-awn-VIDEO-3 img._ngcontent-awn-VIDEO-3 {
    margin: 32px auto 8px;
}

.no-report-placeholder-container._ngcontent-awn-VIDEO-3 p._ngcontent-awn-VIDEO-3 {
    margin: auto;
    max-width: 650px;
}

.ga-footer-1 {
    font-family: 'MyRoboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin: 8px;
    margin-top: 16px;
    padding-left: 32px;
    color: #3c4043;
}
