<% if (component==='header' ) { %>
    <div></div>
    <% } else if (component==='tabs' ) { %>
        <div></div>
        <% } else if (component==='content' ) { %>
            <div class="_ngcontent-pfm-8">
                <section class="empty-view-section _ngcontent-pfm-8">
                    <div class="headline _ngcontent-pfm-8">Insights are coming your way</div>
                    <div class="sub-headline _ngcontent-pfm-8">Insights update daily. Check back soon.</div>
                    <div class="image _ngcontent-pfm-8"></div>
                    <div class="description _ngcontent-pfm-8">Insights highlight what's driving your account's
                        performance as well as
                        what's forecasted to come</div>
                </section>
            </div>
            <% } else if (component==='footer' ) { %>
                <footer class="ga-footer-1">
                    <p><a href="#">Reporting is not real-time.</a> Time zone for all dates and times: (GMT+08:00)
                        China
                        Standard Time. <a href="#">Learn more</a></p>
                    <p>Some inventory may be provided through third party intermediaries.</p>
                    <p>You'll see Media Rating Council (MRC) accreditation noted in the column header's hover text
                        for
                        accredited metrics.</p>
                    <p>&copy; Google, 2026.</p>
                </footer>
                <% } %>